.root {
  position: relative;
  width: 100%;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--black);
  font-size: 16px;
  line-height: 27px;
  font-family: var(--font-dm);
  padding: 0 24px 0 5px;
}

.input::placeholder {
  font-size: 12px;
}

.error {
  position: absolute;
  bottom: -26px;
  left: 5px;
  color: var(--error);
  font-size: 12px;
  width: 100%;
}
