:root {
  --black: #000;
  --white: #ffffff;
  --gray-light: #efefef;
  --accent: #a18a68;
  --gray-dark: #707070;
  --gray: #d8d8d8;
  --error: #d82700;
}

html,
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  padding: 0 16px;
  font: var(--font-dm);
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 640px) {
  body {
    padding: 0 32px;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 0 96px;
  }
}
