.root {
  align-self: flex-end;
  font-family: var(--font-dm);
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 24px;
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(6, auto);
  color: var(--gray-dark);
}

.links {
  display: flex;
  gap: 30px;
  margin: 24px 0;
  align-items: center;
}

.copyright {
  font-size: 16px;
  line-height: 27px;
  color: var(--black);
}

.form {
  margin-bottom: 16px;
}

@media (min-width: 640px) {
  .root {
    grid-template-areas:
      "contacts conditions delivery form"
      "copyright copyright . links";
    grid-template-columns: repeat(3, auto) 1fr;
    grid-template-rows: auto auto;
    gap: 48px 30px;
    padding-bottom: 90px;
    width: 100%;
    align-items: flex-end;
  }

  .form {
    grid-area: form;
    justify-self: flex-end;
    margin: 0;
  }

  .contacts {
    grid-area: contacts;
  }

  .conditions {
    grid-area: conditions;
  }

  .delivery {
    grid-area: delivery;
  }

  .links {
    grid-area: links;
    margin: 0;
    justify-self: flex-end;
  }

  .copyright {
    grid-area: copyright;
  }
}
